doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')

    script(src='https://code.jquery.com/jquery-2.2.1.min.js')
    script(src='http://demonstration.abgne.tw/jquery/plugins/0029/js/jquery.cookie.js')

  body
    block content
