doctype html
html
  head
    title
  body
    div
        img(src= "https://paytest.tw.gamagic.com/deposit/image/gameicon/tw/82.png", width='70', height='70')
    div
        label
            帳號：test1001
        label
            識別碼：123456
        div
            a(class='agree', href='/member/editor') 編輯資料
            